body{
    color: #7A7A7A;
    font-family: Arial, Helvetica, sans-serif;
    background: #D4D3AD url('../images/background.jpg');
}

/* Header */

header{
    background-color: #fff;
    border-bottom: #BFBEBF solid 2px;
}

section{
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}

header section{
    padding: 0;
}

/* Navigation */

nav{
    overflow: hidden;
}

h1{
    float: left;
    padding: 20px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: #fff;
    background-color: #4aaaa5;
}

ul{
    margin-top: 30px;
    float: right;
}

li{
    display: inline-block;
    padding: 0 20px;
    border-right: #BFBEBF solid 1px;
}

li:last-child{
    border-right: none;
    padding-right:0;
}

a{
    text-decoration: none;
    color: #7A7A7A;
    font-size: 1.1em;
}

/* Main section */

main{
    padding: 30px;
    background-color: #fff;
    border: #BFBEBF solid 1px;
}

h2{
    color: #4aaaa5;
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: #7A7A7A solid 2px;
    padding-bottom: 20px;
}

.mainInfo{
    margin-top: 30px;
    overflow: hidden;
}

img{
    float: left;
    margin: 0 30px 20px 0;
}

h3{
    padding-bottom: 8px;
    font-weight: bold;
}

p{
    font-size: 1,1em;
    line-height: 1.5;
}

/* Portfolio */

.imgHolder{
    position: relative;
    width: 250px;
    height: 250px;
    display: inline-block;
    overflow: hidden;
    margin: 0 40px 30px 0;
}
.imgHolder p{
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

/* contact form */

input{
    margin-bottom: 10px;
    width: 99%;
    height: 26px;
}

#inputMessage{
    height: 200px;
    width: 99%;
}

input:last-child{
    margin-top: 20px;
    padding: 15px 30px;
    width: auto;
    border: none;
    background-color: #4aaaa5;
    color: #fff;
    line-height: 0;
    font-size: 1em;
}

/* footer */

footer{
    clear: both;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #7A7A7A;
}

footer p{
    color: #BFBEBF;
    font-size: 0.8em;
    padding: 20px 0;
    border-top: #4aaaa5 solid 7px;
}